<div class="standerds-container">
  <div class="standerds-container__title">
    المتطلبات
  </div>

  <div class="standerds-container__content">
    <ol>
      <li> <p>أن تعتمد الخطة التنفيذية للتحول الرقمي على الخطة الاستراتيجية للتحول الرقمي في الجهة، وتهدف إلى تحديد الآليات والجداول الزمنية للتنفيذ والمتابعة</p></li>
      <li>أن تحدد مؤشرات الأداء ونماذج التقارير الدورية اللازمة لتنفيذ المبادرات والمشاريع ومتابعة مؤشرات الأداء المتعلقة بالأهداف الاستراتيجية للتحول الرقمي</li>
    </ol>
  </div>
</div>
