<div dir="rtl" class="top_menu">
<div>
 <img src="assets/images/GRC-logo 1.svg" alt="">
</div>
<div class="top_menu__user_info-container">
<div>
  <button class="top_menu__user_info-container__icon-button">

    <img src="assets/images/notification.svg" alt="notification">
    <span class="top_menu__user_info-container__icon-button__badge">2</span>
  </button>
  </div>
<div class="top_menu__user_info-container__userName">
  <span class="top_menu__user_info-container__userName__shorten">
    أح
  </span>
  <span class="top_menu__user_info-container__userName__fullname">
    احمد ممدوح
  </span>
</div>
<div class="top_menu__user_info-container__userName__arrow">
  <img src="assets/images/arrow-down.svg" alt="">
</div>
</div>

</div>
