$xlarge-device-l: "1199px";
$large-device-l: "991px";
$moderate-device-l: "767px";
$small-device-l: "575px";
$msmall-device-h:"450px";
$xsmall-device-l: "350px";

$font_regular:'LamaSans_Regular';
$box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.16);
$whiteColor:#ffffff;
